body {
    background: #ffffff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.headertext {
    font-family: lato;
    font-size: 70px;
    font-weight: bold;
    color: rgb(230, 11, 11);
    align-content: center;
    text-align: center;
}

.complain {
    text-align: center;
    font-family: licid-sans;
    font-size: 23px;
}

p {
    text-align: center;
    font-size: 15px;
    font-family: lucid-sans;
}

.input {
    background: #eee;
    color: black;
    border: none;
    padding: 15px;
    margin: 8px 0;
    width: 50%;
    text-align: left;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.label {
    text-align: left;
    font-size: 15px;
    align-items: left;
    justify-content: left;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
    display: flex;
}

.submit {
    background:blueviolet;
    color: black;
    padding: 12px 307px;
    border: none;
    margin-top: 18px;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    
}
hr {
    padding: 0 315px;
}